/node_modules
/public/hot
/public/storage
/public/favicon.ico
/public/nginx.htaccess
/storage/*
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/config/database.php
/config/upstreamapi_dev.php
/bootstrap/*
/pcweb_dist
composer.phar
.idea/*
/tests
public/nginx.htaccess
public/wsjs/jquery-1.11.1.js
public/wsjs/home.html
public/wsjs/chat108.html
public/wsjs/chat.html
public/wsjs/socket.io.js
public/wsjs/home108.html
